* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.card-container {
   scroll-snap-type: x mandatory;
   display: flex;
   flex-direction: row;
   overflow-x: auto;
   /* min-width: calc(100% - 2rem); */
   width: 100%;
   scrollbar-width: none;
}

.card-container > .card-wrapper {
   scroll-snap-align: center;
}

.card-container > .card:first-child {
   margin-left: 0;
}

.card-container > .card:last-child {
   margin-right: 0;
}

.card-container::-webkit-scrollbar {
   display: none;
}

.title {
   margin: 1rem;
}
